name: CI (apps)

on:
  pull_request:
    types: [opened, ready_for_review, review_requested]
    paths:
      [
        ".github/workflows/ci-app.yaml",
        "**/package.json",
        "**/tsconfig.json",
        "apps/**/*.js",
        "apps/**/*.ts",
        "packages/**/*.js",
        "packages/**/*.ts",
        "eslint.config.js",
        "pnpm-lock.yaml"
      ]
  push:
    branches: [main]

jobs:
  install:
    name: Install dependencies
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.1

      - name: Setup Node.js
        uses: actions/setup-node@v4.0.1
        with:
          node-version: latest

      - name: Setup pnpm and install dependencies
        uses: ./.github/actions/setup-pnpm

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: install

    permissions:
      checks: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.1

      - name: Setup Node.js
        uses: actions/setup-node@v4.0.1
        with:
          node-version: latest

      - name: Setup pnpm and install dependencies
        uses: ./.github/actions/setup-pnpm

      - name: Setup reviewdog
        uses: reviewdog/action-setup@v1.0.6

      - name: Run eslint
        env:
          REVIEWDOG_FORMAT: eslint
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REVIEWDOG_REPORTER: github-check
        run: |
          pnpm run lint \
          | reviewdog \
              -f="${REVIEWDOG_FORMAT}" \
              --name="Lint result (${REVIEWDOG_FORMAT})" \
              --reporter="${REVIEWDOG_REPORTER}"
